* {
    font-family: 'Roboto' , sans-serif;
}


.container {
    max-width: 1140px;
    margin: 0 auto;
}

@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/buttons';
@import 'blocks/calendar';
@import 'blocks/present';
@import 'blocks/carusel';
@import 'blocks/title';
@import 'blocks/prForYou';
@import 'blocks/options';
@import 'blocks/simple';
@import 'blocks/footer';

