.title {
    max-width: 625px;
    margin: 0 auto;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color: #ffffff;
    text-align: center;
    &_prForYou {
        width: 375px;
        color: #393939;
    }
    &_options {
        width: 375px;
    }
    &_simple {
        font-weight: 900;
        color: #393939;
        margin-top: 73px;
    }
}